<%- include('header', {title:'Rooms'}); %>
<body>
<h1>Login</h1>
<ul>
<% for(var i=0; i<items.length; i++) {%>
    <li>
        <div><%= items[i].id %></div>
        <div>
            <p><%= items[i].name %></p>
            <p><%= items[i].price %></p>
            <p><%= items[i].floor %>/<%= items[i].totalFloor %></p>
        </div>
    </li>
<% } %>
</ul>
    
    <div id="rooms"></div>
    
</body>
</html>
 


<script>
var request = $.ajax({
  url: "/api/place/1" 
})
    
request.done(function(data) {
    var items=data.items;
    for(var i=0;i<items.length;i++){
        var html=[];
        var item=items[i];
        
        html.push('<div>'+item.name+'</div>');
       
        
         $( "#rooms").append( html.join(''));
    }
   
      
    
});
    
</script>