<%- include('.././layout/header', {title:'items'}); %>
<body>
<%- include('.././layout/nav', {nav : 'items'}); %>
   

<body>
<h1>Search</h1>
<talbe>
    <tr>
        <td>
            <div>Price:<input type='text' id='minPrice'>~<input type='text' id='maxPrice'></div>
        </td>
        <td>
            <table>
                <tr>
                    <td><select id="provinceId"></select></td>
                    <td><select id="cityId"></select></td>
                    <td>
                        <select id="houseType">
                            <option value='1'>Condo</option>
                            <option value='2'>Apartment</option>
                            <option value='3'>House</option>
                        </select>
                    </td>
                    <td><input type="input" id="keyword" name="keyword" value=""></td>
                    <td>
                        <input type="button" onclick="searchItem();" value="Search" class="search-btn">
                    </td>
                </tr>
            </table>
     </td>
    </tr>
</talbe>
    
    <ul id="rooms">
        <% for(var i=0; i<records.length; i++) {%>
            <li>

                <div>
                    <p> 
                        <a href="/item/<%=records[i].id%>"><%=records[i].name%></a>
                    </p>
                    <p>Price: <%= records[i].minPrice %> ~ <%= records[i].maxPrice %></p>
                    <p>Floor: <%= records[i].floor %>/<%= records[i].totalFloor %></p>
                </div>
            </li>
         <% } %> 
    </ul>
    
    <div><a href="javascript:void(0);" onclick="javascript:searchItem();">Load more</a></div>
 
</body>
<%- include('.././layout/footer',{footer:'items'}); %>

 

<script>
     
$( document ).ready(function() {
    //search();
    initProvinces(null,null);
});
</script>