<%- include('.././layout/header', {title:'TopPage'}); %>
<body>
<%- include('.././layout/nav', {nav : 'index'}); %>
    
<div>BTS ss</div>
<%= t('lang')%>
    
<br/>

    
    <% if(emailvalidateStatus==0){%>
        <%= t('msg_email_validate_result_0')%>
    <% }else{%>
        <%= t('msg_email_validate_result_1')%>
    <% }%>
    
<%- include('.././layout/footer', {footer : ''}); %> 
</body>
</html>

 