<%- include('.././layout/header', {title:t('link.forgetPassword')}); %>
<body>
<%- include('.././layout/nav', {nav : 'foregetpassword'}); %>
   
    
<div class="container">
      <form class="form-signin"  id="dataForm"  >
            <h2 class="form-signin-heading"><%= t('link.forgetPassword')%></h2>
            <label for="inputEmail" class="sr-only"><%= t('title.eMail')%></label>
            <input type="email" id="email" name="email" class="form-control" placeholder="<%= t('title.eMail')%>" required autofocus>
            <div class="msg_error"></div>
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= t('link.submit')%></button>
      </form> 
</div> 
    
    

    
<%- include('.././layout/footer', {footer : ''}); %> 
 </body>
</html>

    
<script> 
$(document).ready(function() {
    foregetpassword();
}); 
</script>