<%- include('.././layout/header', {title:'search'}); %>
<body>
<%- include('.././layout/nav', {nav : 'search'}); %>
    

<body>
<h1>Search</h1>
    
    <a href="/search">Province</a> / <a href="/bts">BTS/MRT</a>
    

<table id='search'>
    <tr>
        <td style='height:500px;width:400px;' valign="top">
            <div><%= t('price')%></div>
            <div><a href="javascript:void(0);" onclick="javascript:searchByPrice(3000,4000);">3000~4000</a></div>
            <div><a href="javascript:void(0);" onclick="javascript:searchByPrice(4000,5000);">4000~5000</a></div>
            <div><a href="javascript:void(0);" onclick="javascript:searchByPrice(10000,15000);">10000~15000</a></div>
            <div><input type='text' id='minPrice' style='price'>~<input type='text' id='maxPrice' style='price'>
                <input type='hidden' id='queryMinPrice'>
                <input type='hidden' id='queryMaxPrice'>
            </div>
             
        </td>
        <td style='height:500px;' valign="top">
            <table>
                <tr>
                    <td>
                        
                        <select id="provinceId"></select>

                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" id="dropdownMenu_province" 
                              data-toggle="dropdown">Province<span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu placeBox" role="menu" aria-labelledby="dropdownMenu1" id='province_menu'></ul>
                        </div>
                    
                    </td>
                    <td>
                        <select id="cityId"><option value=''><%= t('city')%></option></select>
                        
                        <div id="dropdown_city" class="dropdown">
                            <button type="button" class="btn dropdown-toggle" id="dropdownMenu_city" 
                              data-toggle="dropdown"><%= t('city')%><span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu placeBox" role="menu" aria-labelledby="dropdownMenu1" id='city_menu'></ul>
                        </div>
                    </td>
                    <td>
                        <select id="houseType">
                            <option value=''><%= t('houseType')%></option>
                            <option value='1'><%= t('houseType_1')%></option>
                            <option value='2'><%= t('houseType_2')%></option>
                            <option value='3'><%= t('houseType_3')%></option>
                            <option value='4'><%= t('houseType_4')%></option>
                            <option value='11'><%= t('houseType_11')%></option>
                            <option value='21'><%= t('houseType_21')%></option>
                            <option value='22'><%= t('houseType_22')%></option>
                        </select>
                    </td>
                    <td><input type="hidden" id="keyword" name="keyword" value=""></td>
                    <td>
                        <input type="button" onclick="search();" value="<%= t('search')%>" class="search-btn">
                    </td>
                </tr>
                
            </table>
            
            <div id="rooms"></div>
            <div id="resultCountDIV">共<span id="resultCount"></span>筆</div>
            <div id="searchMsg"></div>
            <div id="loadMoreSerchLink" ><a href="javascript:void(0);" onclick="javascript:loadMoreSerch();">Load more</a></div>

        </td>
    </tr>
</table>
     
    
 
</body>
<%- include('.././layout/footer',{footer:'search'}); %>
 

<script>
    
 
    
$( document ).ready(function() {
  
    $('#loadMoreSerchLink').hide();
    $('#resultCountDIV').hide();
    initProvinces(null,null);
});
</script>