<%- include('.././layout/header', {title:'search'}); %>
<body>
<%- include('.././layout/nav', {nav : 'search'}); %>
    

<body>
<h1>Search</h1>
    
    <a href="/search">Province</a> / <a href="/bts">BTS/MRT</a>
    

<table id='search'>
    <tr>
        <td style='height:500px;width:400px;' valign="top">
            <div><%= t('price')%></div>
            <div><a href="javascript:void(0);" onclick="javascript:searchByPrice(3000,4000);">3000~4000</a></div>
            <div><a href="javascript:void(0);" onclick="javascript:searchByPrice(4000,5000);">4000~5000</a></div>
            <div><a href="javascript:void(0);" onclick="javascript:searchByPrice(10000,15000);">10000~15000</a></div>
            <div><input type='text' id='minPrice' style='price'>~<input type='text' id='maxPrice' style='price'>
                <input type='hidden' id='queryMinPrice'>
                <input type='hidden' id='queryMaxPrice'>
            </div>
             
        </td>
        <td style='height:500px;' valign="top">
            <table>
                <tr>
                    <td style='width:70px;padding:0 10px 0 0;'>
                        <input type="hidden" id="provinceId">
                       
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" 
                                    data-toggle="dropdown"><span id="dropdownMenu_province"><%= t('title.province')%></span><span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu dropdown-menu-box" role="menu" aria-labelledby="dropdownMenu1" id='menu_province'></ul>
                        </div>
                    
                    </td>
                    <td style='width:70px;padding:0 10px 0 0;'>
                        <input type="hidden" id="cityId">
                        <div id="dropdown_city" class="dropdown">
                            <button type="button" class="btn dropdown-toggle" 
                              data-toggle="dropdown"><span id="dropdownMenu_city"><%= t('title.city')%></span><span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu dropdown-menu-box" role="menu" aria-labelledby="dropdownMenu1" id='menu_city'></ul>
                        </div>
                    </td>
                    <td>
                        <input type="hidden" id="houseType">
                        <div id="dropdown_houseType" class="dropdown">
                            <button type="button" class="btn dropdown-toggle" 
                              data-toggle="dropdown"><span id="dropdownMenu_houseType"><%= t('title.houseType')%></span><span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu dropdown-menu-box" role="menu" aria-labelledby="dropdownMenu1" id='menu_houseType'>
                               <li role="presentation"><a href="javascript:chooseHouseType('1','<%= t('title.houseType_1')%>');"><%= t('title.houseType_1')%></a></li>
                               <li role="presentation"><a href="javascript:chooseHouseType('2','<%= t('title.houseType_2')%>');"><%= t('title.houseType_2')%></a></li>
                               <li role="presentation"><a href="javascript:chooseHouseType('3','<%= t('title.houseType_3')%>');"><%= t('title.houseType_3')%></a></li>
                               <li role="presentation"><a href="javascript:chooseHouseType('4','<%= t('title.houseType_4')%>');"><%= t('title.houseType_4')%></a></li>
                               <li role="presentation"><a href="javascript:chooseHouseType('11','<%= t('title.houseType_11')%>');"><%= t('title.houseType_11')%></a></li>
                               <li role="presentation"><a href="javascript:chooseHouseType('21','<%= t('title.houseType_21')%>');"><%= t('title.houseType_21')%></a></li>
                               <li role="presentation"><a href="javascript:chooseHouseTypes('22','<%= t('title.houseType_22')%>');"><%= t('title.houseType_22')%></a></li>
                            </ul>
                        </div>
                        
                        
                            
                    </td>
                    <td><input type="hidden" id="keyword" name="keyword" value=""></td>
                    <td>
                        <input type="button" onclick="search();" value="<%= t('link.search')%>" class="search-btn">
                    </td>
                </tr>
                
            </table>
            
            <div id="rooms"></div>
            <div id="resultCountDIV">共<span id="resultCount"></span>筆</div>
            <div id="searchMsg"></div>
            <div id="loadMoreSerchLink" ><a href="javascript:void(0);" onclick="javascript:loadMoreSerch();">Load more</a></div>

        </td>
    </tr>
</table>
     
    
 

<%- include('.././layout/footer',{footer:'search'}); %>
    
<script>
$( document ).ready(function() {
  
    $('#loadMoreSerchLink').hide();
    $('#resultCountDIV').hide();
    initProvinces(null,null);
     
});
</script>
    
 </body>
</html>


