  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;;height:52px;">
         <ul class="nav navbar-nav">
            <li class="<%= nav&&nav=='index'?'active':'' %>"><a href="/">Home</a></li>
            <li class="<%= nav&&nav=='items'?'active':'' %>"><a href="/admin/items">My Item</a></li>
             
            <li class="languages dropdown navbar">
                <a href="#" data-target="#" data-toggle="dropdown" class="dropdown-toggle">
                    <i class="fa fa-globe"></i>Change Language				
                    <b class="caret"></b>
                </a> 

                <ul role="menu" class="dropdown-menu pull-right">				    
                    <li unselectable="on" style="-moz-user-select: none;"><a rel="nofollow" href="javascript:void('')" onclick="javascript:changeLan('en')">English</a></li>
                    <li unselectable="on" style="-moz-user-select: none;"><a rel="nofollow" href="javascript:void('')" onclick="javascript:changeLan('th')">ภาษาไทย</a></li>
                     <li unselectable="on" style="-moz-user-select: none;"><a rel="nofollow" href="javascript:void('')" onclick="javascript:changeLan('zh-tw')">繁體中文</a></li>
                    <li unselectable="on" style="-moz-user-select: none;"><a rel="nofollow" href="javascript:void('')" onclick="javascript:changeLan('zh-hans')">简体中文</a></li> 
                </ul>
             </li>
        
            
<% if(user){%>
        <li><a href="/admin/profile"><%= user.name %></a></li> 
        <li class="<%= nav&&nav=='login'?'active':'' %>"><a href="/logout">LogOut</a></li> 
<% }else{ %>
        <li class="<%= nav&&nav=='logout'?'active':'' %>"><a href="/login">Login</a></li>
<% } %>
             
      </ul>
</nav>




 