<ul>
<% for(var i=0; i<items.length; i++) {%>
    <li>
  
        <div>
            <p><a href="item/<%= items[i].id %>"><%= items[i].name %></a> 
                <%= link_to('Edit', '../admin/item/'+ items[i].id +'/edit') %>
            </p>
            <p>Price: <%= items[i].minPrice %> ~ <%= items[i].maxPrice %></p>
            <p>Floor: <%= items[i].floor %>/<%= items[i].totalFloor %></p>
        </div>
    </li>
<% } %>
    
     
</ul>