 
<% for(var i=0; i<records.length; i++) {%>
        <div class='iList'>
            <table>
                <tr>
                   <td style='width:300px;'>
                        <p>  <%= link_to(records[i].name, './item/'+ records[i].id ) %> </p>
                        <p><%= records[i].floor %>/<%= records[i].totalFloor %></p>
                        <p>
                            <%=records[i].houseType%>
                       </p>
                        <p><%= records[i].rentType%></p>
                       
                        <p><%= records[i].provinceId%></p> /<p><%= records[i].cityId%> <%= records[i].address%></p>
                    </td>
                    <td style='width:100px;'>
                          <p><%= records[i].spaceSize %> </p>
                    </td>
                    <td style='width:100px;'>
                        <p><%= records[i].minPrice %></p>
                    </td>
                </tr>
           
            </table>
           
           
        </div>
   
<% } %>
    
  
<% if(records.length==0){%>
    <div>No Data </div>
<% } %>  